footer {
    display: flex;
    color: #f9fafb;
    background-color: rgba(0, 0, 0, 0.85);


}

.footer-newsletter {




    padding: 100px 200px;
    font-family: "Poppins";
}

.footer-newsletter form {
    border-bottom: 1px solid #d4d4d8;
}

.footer-newsletter input {
    color: #d4d4d8;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.footer-newsletter button {
    color: white;
    font-size: 14px;
    background-color: transparent;
    border: 0;
}

::placeholder {
    color: white;
    opacity: 1;
}

::-ms-input-placeholder {
    color: white;
}