.header-and-image-container {
    position: relative;
    height: 60vh;
}

.header-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: 50% 20%;
}

#landing-page-container {
    height: 100vh;
}

#ddod-intro-text {
    font-size: 14px;
    color: white;
    max-width: 700px;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

@media (min-width: 576px) {
    #ddod-intro-text {
        font-size: 20px;
    }
}

#img-home-page {
    height: 100vh;
    object-position: 50% 70%;
}

#header-img-calendar {
    object-position: 50% 40%;
}

#header-image-programs {
    object-position: 50% 30%;
}

#header-img-visit {
    object-position: 50% 50%;
}

#header-image-about {
    object-position: 50% 50%;
}

#header-image-faq {
    object-position: 50% 90%;
}

#logo-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0 0 20px;
}

#logo {
    max-height: 120px;
    max-width: 100%;
}

#h1-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

h1 {
    color: var(--colour-yellow);
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: italic;
    line-height: 1em;
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 1220px;
    padding: 0 32px;
}