#page-menu:hover {
    cursor: pointer;
}

.page-menu-item {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: grey;
    transition: color .2s ease-in;
    line-height: 1.1em;
    padding-bottom: 10px;
}

.page-menu-item:hover {
    color: black;
}

.active {
    color: black;
}