@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=DM+Serif+Display&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Merriweather:wght@300;400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Nimbus Sans L';
    src: url('fonts/nimbus-sans-l/NimbusSanL-Reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus Sans L';
    src: url('fonts/nimbus-sans-l/NimbusSanL-Bol.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('fonts/droid-sans/DroidSans.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('fonts/droid-sans/DroidSans-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-MediumItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-SemiBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-SemiBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}



:root {
    --colour-blue: #0047AB;
    --colour-yellow: #FFCA00;
    --colour-white: #f1f5f9;
    --colour-50: #fafafa;
    --colour-100: #f4f4f5;
    --colour-200: #e4e4e7;
    --colour-300: #d4d4d8;
    --colour-400: #a1a1aa;
    --colour-500: #71717a;
    --colour-600: #52525b;
    --colour-700: #3f3f46;
    --colour-800: #27272a;
    --colour-900: #18181b;
    --orange-0: #fff4e6;
    --orange-1: #ffe8cc;
    --orange-2: #ffd8a8;
    --orange-3: #ffc078;
    --orange-4: #ffa94d;
}

html,
body,
span,
h1,
h2,
p,
ul,
tr,
td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    /* background-color: rgba(0, 0, 0, 0.85); */
    background-color: white;
}

#page-content {
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 1220px;
    padding: 96px 32px;
}