table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 5px;
}

#calendar-month {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

#calendar-arrows {
    display: flex;
}

.calendar-arrow {
    display: flex;
    align-items: center;
}

.calendar-arrow i {
    font-size: 1.8em;
    margin: 10px;
}

.calendar-arrow-valid i {
    color: var(--colour-300);
}

.calendar-arrow-invalid i {
    color: var(--colour-200);
}

.calendar-arrow-valid i:hover {
    cursor: pointer;
    color: var(--colour-400);
}

th {
    padding: 0 0 11px;
    color: var(--colour-500);
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

td {
    width: calc(100% / 7);
    background-color: #fff1e0;
    /* background-color: #fff4e6; */
}

.date-container {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.date-heading {
    /* color: #e6d1b8; */
    color: #ccbaa3;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 4px;
}

.past-date {
    background-color: var(--orange-0);
}

.past-date .date-heading {
    color: var(--orange-1);
}

.registration-link {
    /* background-color: var(--colour-blue);
    font-family: 'Poppins', sans-serif; */
    margin-left: 4px;
}

.fa-arrow-up-right-from-square {
    margin-left: 4px;
}

.fly-out-event-name {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: var(--colour-blue);
}


.fly-out-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.event-container {
    text-align: center;
}

.mobile-dot {
    line-height: 0.1em;
    color: var(--colour-blue);
    font-weight: 900;
}

.fly-out {
    display: none;
}

.mobile-fly-out.active {
    display: initial;
}

@media (max-width: 991px) {

    .event-time-short,
    .event-name {
        display: none;
    }

}

@media (min-width: 992px) {

    .mobile-dot,
    .display-event-mobile {
        display: none;
    }

    .date-heading {
        font-size: 18px;
        text-align: right;
        padding: 10px 15px;
    }

    .event-container {
        position: relative;
        padding: 0 12px 2px;
        text-align: left;
    }

    .time-short {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding-right: 5px;

    }

    .event-name {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    .fly-out {
        display: none;
        position: absolute;
        width: 150%;
        height: 350px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        /* left: calc(100% + 5px); */
        left: -25%;
        bottom: 100%;
        /* top: -10px; */
        padding: 12px;
        overflow: scroll;
    }

    .event-container:hover .event-name {
        text-decoration: underline;
        cursor: pointer;
    }

    .event-container:hover .fly-out {
        display: initial;
    }

    .fly-out-event-name:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}