.navbar {
    background-color: var(--colour-900);
}

.nav-link {
    color: var(--colour-white);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    transition: color .2s ease-out;
}

.nav-link:hover {
    color: var(--colour-yellow);
}

#page-content {
    display: flex;
}

#page-menu:hover {
    cursor: pointer;
}

.page-menu-item {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: grey;
    transition: color .2s ease-in;
    line-height: 1.1em;
    padding-bottom: 10px;
}

.page-menu-item:hover {
    color: black;
}

.page-menu-item.active {
    color: black;
}

.content-option {
    display: none;
}

.content-option.active {
    display: block;
}